# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\5IIR\JEE\Angular-Keycloak-Microservices-main\Angular-Keycloak-Microservices-main\product-service\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
